body {
    font-family: "Lato", sans-serif;
    background-color:rgb(162,194,132);
  }

  .header{
    display:flex;
     background-color: #096e4f;
    padding:20px;
    }
  div{
    display: block;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display:block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #fa32ad;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 5px;
    border: none;
    margin: 15px;

    
  }
  .openbtn:hover {
    background-color: #444;
  }
  .paranoid{
  margin-left: 200px;
  margin-top: 20px;
  margin-inline-end: 15px;
  display:inline-block;
  width:700px;
  height:40px;
  border-radius: 20px;
  }

  .collapsible {
    background-color:#190166 ;
    color:#fa32ad ;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width:1300px;
    height: 60px;
    display:block;
    margin-top:15px;
  }
  
  .active, .collapsible:hover {
    background-color:#110338;
  }
  
  .content {
    padding: 0 18px;
    display:block;
    overflow: hidden;
    background-color: #ffed4f;
    width:1300px;
   text-align: right;
  }
  
.footer{
  margin-top: 80%;
  color:white;
  background-color: #096e4f;
  padding:5px;
 
}

.button{
  border-radius: 55px;
  display: block;
  background: none;
  border: none;
  padding: 0;
}
.back{
	margin:50px;
	font-size:20px;
	color:#fa32ad;
	}
 .go{
	margin:25px;
	font-size:18px;}
  .ax{
    border-radius:8px;
    width:35px;
    
  }
.content {
	text-align:left;
	}
  .footer{
    margin-top: 20%;
    color:white;
    background-color: #096e4f;
    padding:5px;
    text-align: center;
  }
  .as{
    width: 60%;
    height: 50%;
    margin-left: 20%;
  }
  .xx{
    background-color: #096e4f;
    border: none;
  }
  .icon-bar {
    position: fixed;
  bottom: 5%;
  left: 1%;
  transform: translateY(-50%);
  }
 .icon-bar a{
  display: block;
  text-align: center;
  transition: all0 0.3s ease;
 }
 .button{
       
  color:aliceblue;
 }
 .button{
  border-radius: 55px;
  width: 60px;
  padding: 15%;
 }